html {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Courier New", monospace ; 
    overflow-y: scroll;  
}

body {
    background-color:gainsboro;
    max-width: 960px;
    min-width: 800px;
    height:100%;
    margin: 0px auto;
    padding: 0px;
    border-color: black;
    border-style: double;
    border-width: 0px 10px 0px;
}

#content {
    background-color:greenyellow;
    color: black;
    /* width: 800px;
    height: 600px; */
    width: 960px;
    height: 800px;
    /* centers the div on the screen */
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

#sim {
    width: 100%;
    height: 100%;
    /* width: 800px;
    height: 600px; */
    width: 960px;
    height: 800px;
    background-color: #99CCCC;
    /* evenly spaces out content on page */
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
    border: black 10px ridge;
    position: relative;
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px; */
}

#progBar {
    width: 960px;
    margin: 25px 0px;
    background-color: #33CC66;
    border: black 10px ridge;
}

.progress-bar {
    width: 800px;
    height: 25px;
    margin: 10px auto;
    background-color: aliceblue;
}

.progress {
    height: 25px;
    background-color:aqua;
}

.x {
    font-weight:900;
    color: red;
    font-size: x-large;
}



h1 {
     /* temporary fix until i decide on the styling and shiz */
    margin: 0px;
    transform: skewX(-25deg)
}

p {
    margin: 0px;
    font-size: large;
}

img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: auto;
    max-width: 700px;
}

input[type='Number'] {
    width: 50px;
}

area:hover {
    cursor: pointer;
}

button {
    font-weight: bold;
}

.x2 {
    font-weight:900;
    font-size: x-large;
}

.point {
    position: absolute; 
    pointer-events: none;
}

.label {
    position: absolute; 
    background-color: #66FFCC; 
    border: 1px solid black;
}

.point_info {
    position: absolute; 
    display: none; 
    background-color: aliceblue;
    border: black 1px solid;
    padding: 10px;
}


.btn {
    border-radius: 10px;
    border: 2px black outset;
}

.btn:hover {
    border: 2px black inset;
}


.info {
    background-color: white;
    border: black 2px solid;
    padding: 10px;
}

.grn {
    background-color: #68FF99;
}

.grn:hover {
    background-color: #33CC66;
}

.blu {
    background-color: #00FFCC;
}

.blu:hover {
    background-color: #00CC99;
}

.set {
    height: 30px;
    width: 250px;
}

.lrg {
    padding: 15px 50px;
}

.reg {
    padding: 5px 15px;
}

.right {
    display: flex;
    justify-content: right;
}

.center {
    display: flex;
    justify-content: center;
}

.left {
    display: flex;
    justify-content: left;
}
